template.xsd

<schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://GroupName-017/temporary" xmlns:sample="http://GroupName-017/temporary">
  <element name="ETL" type="sample:ETLType" />
  <complexType name="sourceinfoType">
    <sequence>
      <element type="string" name="name" />
      <element type="string" name="driver" />
      <element  name="protocol" >
        <simpleType>
        <restriction base="string">
          <enumeration value= "SQL" />
          <enumeration value= "FTP" />
        </restriction>
        </simpleType>
        </element>
      <element type="string" name="username" />
      <element type="string" name="password" />
    </sequence>
  </complexType>
  <complexType name="sourceDetailsType">
    <sequence>
      <element type="sample:sourceinfoType" name="sourceinfo" />
    </sequence>
  </complexType>
  <complexType name="ExecutionSequenceType">
    <sequence>
      <element type="string" name="Query" maxOccurs="unbounded" minOccurs="0" />
    </sequence>
  </complexType>
  <complexType name="TransformationType" >
    <sequence >
      <element type="string" name="sourceAttribute" />
      <element type="string" name="destinationAttribute" />
    </sequence>
  </complexType>
  <complexType name="TextTransformationType">
    <sequence >
      <element type="string" name="sourceAttribute" />
      <element type="string" name="destinationAttribute" />
      <element type="string" name="sourcePattern" />
      <element type="string" name="DestinationPattern" />
    </sequence>
  </complexType>
  <complexType name="ArthimeticTransformationType">
    <sequence>
      <element type="string" name="Attribute" minOccurs="1" maxOccurs="unbounded" />
      <element type="string" name="arthimeticFormulae" />
    </sequence>
  </complexType>
  <complexType name="TransformationDetailsType">
    <choice minOccurs="0" maxOccurs="unbounded">
      <element type="sample:TextTransformationType" name="TextTransformation" minOccurs="0" maxOccurs="unbounded" />
      <element type="sample:ArthimeticTransformationType" name="ArthimeticTransformation" minOccurs="0" maxOccurs="unbounded" />
    </choice>
  </complexType>
  <complexType name="DestinationInfoType">
    <sequence>
      <element type="string" name="name" />
      <element type="string" name="driver" />
      <element type="string" name="protocol" />
      <element type="string" name="username" />
      <element type="string" name="password" />
    </sequence>
  </complexType>
  <complexType name="DestinationDetailsType">
    <sequence>
      <element type="sample:DestinationInfoType" name="DestinationInfo" />
    </sequence>
  </complexType>
  
  <complexType name="ETLType">
    <sequence>
      <element type="sample:sourceDetailsType" name="sourceDetails" minOccurs="1" maxOccurs="unbounded"/>
      <element type="sample:ExecutionSequenceType" name="ExecutionSequence" />
      <element type="sample:TransformationDetailsType" name="TransformationDetails" />
      <element type="sample:DestinationDetailsType" name="DestinationDetails" minOccurs="1" maxOccurs="unbounded"/>
    </sequence>
  </complexType>
</schema>