template_new.xsd

<schema attributeFormDefault="unqualified" elementFormDefault="qualified"
  xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://GroupName-017/temporary"
  xmlns:sample="http://GroupName-017/temporary">
  <element name="ETL" type="sample:ETLType" />
  <complexType name="sourceinfoType">
    <sequence>
      <choice>
        <element name="SQL" type="sample:sqlProtocolType"/>
        <element name="FTP" type="sample:ftpProtocolType"/>
      </choice>
    </sequence>
  </complexType>

  <complexType name="sqlProtocolType">
    <sequence>
      <element type="string" name="name" />
      <element type="string" name="driver" />
      <element type="string" name="username" />
      <element type="string" name="password" />
    </sequence>
  </complexType>

  <complexType name="ftpProtocolType">
    <sequence>
      <element type="string" name="username" />
      <element type="string" name="password" />
      <element type="string" name="database_name"/>
      <element type="string" name="file_name" />
    </sequence>
  </complexType>



  <complexType name="sourceDetailsType">
    <sequence>
      <element type="sample:sourceinfoType" name="sourceinfo" />
    </sequence>
  </complexType>


  <complexType name="Extract">
    <sequence >
      <element type="string" name="Query" maxOccurs="1" minOccurs="1" />
      <element type="string" name="DstTable" maxOccurs="1" minOccurs="1" />
    </sequence>
  </complexType>


  <complexType name="TextTransformationType">
    <sequence >
      <element type="string" name="sourceAttribute" />
      <element type="string" name="destinationAttribute"/>
      <element type="string" name="sourcePattern" />
      <element type="string" name="destinationPattern" />
    </sequence>
  </complexType>


  <complexType name="ArthimeticTransformationType">
    <sequence>
      <element type="string" name="sourceAttribute"  />
      <element type="string" name="destinationAttribute"/>
      <element type="string" name="arthimeticFormulae" />
    </sequence>
  </complexType>

  <complexType name="NullTransformationType">
    <sequence>
      <element type="string" name="sourceAttribute"  />
      <element type="string" name="destinationAttribute" />
    </sequence>
  </complexType>


  <complexType name="TransformationDetailsType">
    <choice minOccurs="0" maxOccurs="unbounded">
      <element type="sample:TextTransformationType" name="TextTransformation" />
      <element type="sample:ArthimeticTransformationType" name="ArthimeticTransformation" />
      <element type="sample:NullTransformationType" name="NullTransformation" />
    </choice>
  </complexType>


  <complexType name="DestinationInfoType">
    <sequence>
      <element type="string" name="name" />
      <element type="string" name="driver" />
      <element type="string" name="protocol" />
      <element type="string" name="username" />
      <element type="string" name="password" />
    </sequence>
  </complexType>

  <complexType name="DestinationDetailsType">
    <sequence>
      <element type="sample:DestinationInfoType" name="DestinationInfo" />
    </sequence>
  </complexType>
  <complexType name="EtType">
    <sequence>
      <element type="sample:sourceDetailsType" name="sourceDetails" minOccurs="1" />
      <element type="sample:Extract" name="ExtractSequence" />
      <element type="sample:TransformationDetailsType" name="TransformationDetails" />
    </sequence>
  </complexType>

  <complexType name="ETLType">
    <sequence>
      <element type="sample:EtType" name="ET" minOccurs="1" maxOccurs="unbounded"/>
      <element type="sample:DestinationDetailsType" name="DestinationDetails" minOccurs="1" />
      </sequence>
  </complexType>
</schema>